<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.csed.smartlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/croped_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MaterialActivity"></activity>
        <activity android:name=".QuizStatisticsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".QuizAnswerActivity" />
        <activity android:name=".QuizModifyActivity" />
        <activity android:name=".QuizDetailsActivity" />
        <activity android:name=".AddQuizActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".CourseSearchActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".AllUsersList" />
        <activity android:name=".OneToOneChatActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
    </application>

</manifest>