<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.csed.smartlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/croped_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.course.MaterialActivity"></activity>
        <activity android:name=".ui.course.quiz.QuizStatisticsActivity" />
        <activity android:name=".ui.course.chat.ChatActivity" />
        <activity android:name=".ui.course.quiz.QuizAnswerActivity" />
        <activity android:name=".ui.course.quiz.QuizModifyActivity" />
        <activity android:name=".ui.course.quiz.QuizDetailsActivity" />
        <activity android:name=".ui.course.quiz.AddQuizActivity" />
        <activity android:name=".ui.course.quiz.QuizActivity" />
        <activity android:name=".ui.course.CourseSearchActivity" />
        <activity android:name=".ui.course.AddStudentActivity" />
        <activity android:name=".ui.course.CourseActivity" />
        <activity android:name=".ui.course.AllUsersList" />
        <activity android:name=".ui.course.chat.OneToOneChatActivity" />
        <activity android:name=".ui.course.MainActivity" />
        <activity
            android:name=".ui.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.SignUpActivity" />
    </application>

</manifest>